
<!--MOBILE PACKAGES-->
<div class="header">
    <a class="whats" href="https://wa.me/+932545521002" target="_blank"></a>
</div>

<div class="pack-wrapper">
    <div class="pack">
        <div class="headline">חבילת מאיה</div>
        <div class="pic" style="background:url(/assets/packages/1.jpg);background-repeat:no-repeat;background-size:cover;"></div>
        <div class="content">
            <div class="open">
                <h3>למפרט המלא</h3>
                <div class="arrow">^</div>
            </div>
            <div class="price-squar">
                <div class="red-colored">
                    <div class="phrase">מוצצים BOX הכל כלול</div>
                    <div class="price">₪1,499</div>
                    <div class="second-phrase">במקום:₪2138
                        <div class="agorot">90</div>
                        <div class="line"></div>
                    </div>
                </div>
                
                    סט מצעים ומזרן למיטה
                    <br>
                    בתוספת של ₪200
                    בלבד
               
            </div>

            <div class="pack-content">
                <strong>מידות שידה מאיה:</strong>
                <br>
                רוחב 100 ס”מ, גובה 91 ס”מ, עומק 54 ס”מ
                <br>
                <strong>מידות מיטה מעץ בוק מלא 2005:</strong>
                <br>
                רוחב 73 ס”מ, גובה 110 ס”מ, אורך 130ס”מ
                <br>
                <strong>מידות מזרן:</strong>
                <br>
                127/66 ס”מ
            </div>

            <div class="main-phrase">
                    ערכת סימילאק במתנה
                    <br>
                    בכל הזמנת חבילת לידה
            </div>

            <div class="btns">
                <div class="get-gift">לקבלת המתנה  ></div>
                <div class="call-us"></div>
                <div class="for-products">לרשימת המוצרים  ></div>
            </div>

        </div>
    </div>
</div>