/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Varela Round', sans-serif;
    margin:0;
    padding:0;
    @media only screen and (max-width: 720px) {
       padding-top:80px;
    }   
}